@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


/* Propriedades globais */
:root {
  --space-elements: 15px;
} 

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #9d9d9d;
  border-radius: 5px;
  border: 1px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #858585;
}

*,
::after,
::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  font-family: "Montserrat";
}

button, a {
  outline: none !important;
}

/* Header */
.header-task {
  min-height: 100px;
  font-size: 20px;
}

.menu a {
  font-family: "Montserrat";
}

#hide {
  display: none;
}

@media (min-width: 1200px) {
  #formCard {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .navbar-brand img {
    height: 40px;
  }
}

/* Labels */
.label {
  font-size: 18px;
  color: #000000;
  margin-right: 10px;
  font-weight: 600;
  margin-bottom: 0;
  font-family: "Montserrat";
}

.area-tasks {
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}

/* Input Adicionar */
.area-tasks .input {
  width: 490px;
  height: 40px;
  border: 1px solid #50b6cf;
  border-radius: 7px;
  padding: 12px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  border: 1px solid #989898;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  transition: all 0.2s ease-in 0.1s;
  width: 20px;
  margin-bottom: 0;
}

input[type="radio"]:checked + label {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
  transform: scale(1.2);
}

@media (max-width: 767px) {
  .area-tasks .input {
    width: 100%;
  }

  .group.radio {
    margin-bottom: 1rem;
  }
}

/* Botao Adicionar */
.btn-add {
  background-color: #50b6cf;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 500;
  height: 40px;
  outline: none;
  transition: all 0.3s ease-in;
  padding: 0 20px;
}

.btn-add:hover {
  background-color: #3e97ad;
}

.btn-open-form {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: #50b6cf;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  outline: none;
  padding: 0;
  transition: 0.3s all;
}

.btn-open-form:hover {
  color: #1e8eaa;
  transition: 0.4s all;
  text-decoration: underline;
}

.btn-open-form:hover img {
  transform: scale(1.15);
  transition: 0.6s all;
}

.btn-open-form:active {
  background-color: #ededed;
  transition: 0.4s all;
}

.btn-open-form > img {
  height: 42px;
  margin-right: 5px;
  vertical-align: middle;
  user-select: none;
  pointer-events: none;
  width: 42px;
  transition: 0.3s all;
}

/* Cores para add */
.colors {
  height: 20px;
  width: 20px;
}

/* Cores do background do cabeçalho do cartao */
.bg-no-check .card-head {
  background-color: #ffa4a3;
}

.bg-yes-check .card-head {
  background-color: #b8ff99;
}

/* Formatacao do cabecalho dos Cartões */
.txt-no-check .card-head {
  color: #e42c28;
}

.txt-yes-check .card-head {
  color: #2b5a07;
}

.txt-yes-check .card-body {
  text-decoration: line-through;
}

.checked-list {
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 1;
  margin-right: 5px !important;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

/* Cartões de tarefas */
.card-task {
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  height: 200px;
  width: 200px;
  position: relative;
  transition: 0.4s all;
  overflow: hidden;
}

@media (max-width: 767px) {
  .card-task {
    width: auto;
  }
}

.card-task:hover {
  box-shadow: 2px 5px 11px -1px rgba(0, 0, 0, 0.25);
  transform: scale(0.96);
  transition: 0.4s all;
}

/* Formatação do cabeçalho dos Cartões */
.card-head {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  padding: 5px 8px 3px;
  user-select: none;
}

.card-head > img {
  vertical-align: middle;
  margin-right: 5px;
}

/* Corpo dos cartoes das tarefas */
.card-body {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  padding: 15px 10px 35px;
  height: 90%;
  overflow-y: auto;
}

.card-body::-webkit-scrollbar {
  width: 8px;
}

.card-body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
}

.action-task {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  outline: none;
  transition: all 0.3s ease-in;
  user-select: none;
  width: 32px;
}

.action-task:hover {
  opacity: 0.5;
}

/*Cores dos cartoes */
.style1 {
  background-color: #daf5fa;
  color: #19b5dc;
}

.style1 .card-footer {
  background-color: #daf5fa;
}

.style2 {
  background-color: #d1fecb;
  color: #58a51d;
}

.style2 .card-footer {
  background-color: #d1fecb;
}

.style3 {
  background-color: #f6d0f6;
  color: #cb65cb;
}

.style3 .card-footer {
  background-color: #f6d0f6;
}

.style4 {
  background-color: #dcd0f3;
  color: #9763f9;
}

.style4 .card-footer {
  background-color: #dcd0f3;
}

.style5 {
  background-color: #fcfccb;
  color: #8f8f69;
}

.style5 .card-footer {
  background-color: #fcfccb;
}

.style6 {
  background-color: #fbd4b4;
  color: #ec842e;
}

.style6 .card-footer {
  background-color: #fbd4b4;
}

.style7 {
  background-color: #ffffff;
  color: #727272;
}

.style7 .card-footer {
  background-color: #ffffff;
}

.spacing {
  padding: 40px 0 60px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  display: inline-block;
}