@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

/* Propriedades globais */
:root {
  --space-elements: 15px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #9d9d9d;
  border-radius: 5px;
  border: 1px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #858585;
}

*,
::after,
::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  font-family: "Montserrat Regular";
}

/* Header */
.header-task {
  height: 100px;
  font-size: 24px;
}

.header-task .menu {
  text-align: center;
}

.menu a {
  text-decoration: none;
  color: #000;
}

.menu li:not(:last-child) a:after {
  content: '|';
  display: inline-block;
  width: 40px;
  height: 40px;
}

#hide {
  display: none;
}

#formCard {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  #formCard {
    flex-direction: column;
    align-items: baseline;
  }
}

/* Labels */
.label {
  font-size: 18px;
  color: #000000;
  margin-right: 10px;
  font-weight: 600;
  font-family: "Montserrat";
}

.group {
  margin-right: 10px;
}

/* Input Adicionar */
.area-tasks .input {
  width: 490px;
  height: 40px;
  border: 1px solid #50b6cf;
  border-radius: 7px;
  padding: 12px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  border: 1px solid #989898;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  transition: all 0.3s ease-in 0.1s;
  width: 20px;
}

input[type="radio"]:checked + label {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.253);
}

@media (max-width: 767px) {
  .area-tasks .input {
    width: 100%;
    margin-bottom: 1rem;
  }

  .group.radio {
    margin-bottom: 1rem;
  }
}

/* Botao Adicionar */
.btn-add {
  background-color: #50b6cf;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 500;
  height: 40px;
  outline: none;
  transition: all 0.3s ease-in;
  width: 145px;
}

.btn-add:hover {
  background-color: #3e97ad;
}

.btn-open-form {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: #50b6cf;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  outline: none;
  padding: 5px 15px;
  transition: 0.3s all;
}

.btn-open-form:hover {
  color: #1e8eaa;
  transition: 0.4s all;
  text-decoration: underline;
}

.btn-open-form:hover img {
  transform: scale(1.15);
  transition: 0.6s all;
}

.btn-open-form:active {
  background-color: #ededed;
  transition: 0.4s all;
}

.btn-open-form > img {
  height: 42px;
  margin-right: 5px;
  vertical-align: middle;
  user-select: none;
  pointer-events: none;
  width: 42px;
  transition: 0.3s all;
}

/* Cores para add */
.colors {
  height: 20px;
  width: 20px;
}

/* Cores do background do cabeçalho do cartao */
.bg-no-check .card-head {
  background-color: #ffa4a3;
}

.bg-yes-check .card-head {
  background-color: #b8ff99;
}

/* Formatacao do cabecalho dos Cartões */
.txt-no-check .card-head {
  color: #e42c28;
}

.txt-yes-check .card-head {
  color: #2b5a07;
}

.txt-yes-check .card-body {
  text-decoration: line-through;
}

.checked-list {
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 1;
  margin-right: 5px !important;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

/* Cartões de tarefas */
.card-task {
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  height: 200px;
  width: 200px;
  position: relative;
  transition: 0.4s all;
  overflow: hidden;
}

@media (max-width: 767px) {
  .card-task {
    width: auto;
  }
}

.card-task:hover {
  box-shadow: 2px 5px 11px -1px rgba(0, 0, 0, 0.25);
  transform: scale(0.96);
  transition: 0.4s all;
}

/* Formatação do cabeçalho dos Cartões */
.card-head {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  padding: 5px 8px 3px;
  user-select: none;
}

.card-head > img {
  vertical-align: middle;
  margin-right: 5px;
}

/* Corpo dos cartoes das tarefas */
.card-body {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  padding: 15px 10px 35px;
  height: 90%;
  overflow-y: auto;
}

.card-body::-webkit-scrollbar {
  width: 8px;
}

.card-body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
}

.action-task {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  outline: none;
  transition: all 0.3s ease-in;
  user-select: none;
  width: 32px;
}

.action-task:hover {
  opacity: 0.5;
}

/*Cores dos cartoes */
.style1 {
  background-color: #daf5fa;
  color: #19b5dc;
}

.style1 .card-footer {
  background-color: #daf5fa;
}

.style2 {
  background-color: #d1fecb;
  color: #58a51d;
}

.style2 .card-footer {
  background-color: #d1fecb;
}

.style3 {
  background-color: #f6d0f6;
  color: #cb65cb;
}

.style3 .card-footer {
  background-color: #f6d0f6;
}

.style4 {
  background-color: #dcd0f3;
  color: #9763f9;
}

.style4 .card-footer {
  background-color: #dcd0f3;
}

.style5 {
  background-color: #fcfccb;
  color: #8f8f69;
}

.style5 .card-footer {
  background-color: #fcfccb;
}

.style6 {
  background-color: #fbd4b4;
  color: #ec842e;
}

.style6 .card-footer {
  background-color: #fbd4b4;
}

.style7 {
  background-color: #ffffff;
  color: #727272;
}

.style7 .card-footer {
  background-color: #ffffff;
}

.container {
  padding-left: var(--space-elements);
  padding-right: var(--space-elements);
  max-width: 1160px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--space-elements) * -1);
  margin-right: calc(var(--space-elements) * -1);
}

.col {
  position: relative;
  padding-left: var(--space-elements);
  padding-right: var(--space-elements);
  margin-top: 30px;
}

@media (max-width: 767px) {
  .col {
    width: 50%;
  }
}

.spacing {
  padding: 30px 0 60px;
}

.footer {
  border-top: 1px solid #dedede;
  color: #5a5a5a;
  font-size: 13px;
  padding: 30px 0;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  display: inline-block;
}


/* my alert style */
.alert * {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -ms-touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.alert *:focus {
  outline: 0;
}

.alert-wrap {
  position: fixed;
  z-index: 99999997;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

@keyframes alertIn {
  from {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.alert {
  border-radius: 13px;
  font-family: -apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  left: 50%;
  line-height: 1.2;
  overflow: hidden;
  text-align: center;
  top: 50%;
  position: fixed;
  width: 270px;
  -webkit-backdrop-filter: blur(27px) saturate(170%);
  backdrop-filter: blur(27px) saturate(170%);
  z-index: 99999998;
  display: inline-block;
  transform: translate(-50%, -50%);
  animation: alertIn 0.6s;
}

.alert .inner {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px 22px;
}

.alert .title {
  color: #000;
  font-weight: 600;
  font-size: 17px;
}

.alert .text {
  color: #1e1e1e;
  margin-top: 5px;
}

.alert .button {
  background-color: rgba(255, 255, 255, 0.95);
  position: relative;
  height: 44px;
  line-height: 44px;
  font-size: 17px;
  color: #007aff !important;
  border-radius: 0 0 13px 13px;
  overflow: hidden;
  cursor: pointer;
  display: block;
  text-decoration: none;
  transition: unset;
  border: none;
  width: 100%;
}

.alert .button:active,
.alert .button:focus,
.alert .button:hover {
  background: rgba(245, 245, 245, 0.95);
}

.alert .button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #dcdcdc;
}